#loginContainer form label {
	padding-top: 3px;
	display: block;
	font-weight:bold;
	font-size:1.1em;
}

#loginContainer form .input {
	width: 100%;
	font-size: 1.5em;
	display:block;
}

#loginContainer form .submit {
	border: solid 1px black;
	margin-top: .5em;
}

#loginContainer form
{
	border: double 2px #999;
	padding: 1em;
	margin-bottom: 100px;
}

.centered
{
	margin: 1em auto;
}

#loginContainer{
	width: 300px;
}

#loginContainer h1
{
	margin: 0;
}

