body {
-x-system-font:none;
background:#242323 url(/Content/images/img06.jpg) repeat-x scroll left top;
color:#444444;
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:0;
padding:0;
text-align:justify;
}
h1, h2, h3 {
color:#FFFFFF;
font-weight:normal;
margin-top:0;
}
h1 {
font-size:2.4em;
}
h2 {
font-size:1.8em;
}
h3 {
font-size:1.4em;
}
p, ol, ul {
line-height:160%;
margin-bottom:1.8em;
}
dl {
overflow:auto;
}
dl dt, dl dd {
margin:0;
padding:5px 1em;
}
dl dt {
float:left;
clear:left;
font-weight:bold;
}
dl dd {
margin-right:auto;
}
dl.fullpage {
width:570px;
margin:0 auto;
background-color:#fff;
color:#000;
}
dl.fullpage dt, dl.fullpage dd {
padding:1ex;
border-top:1px solid #ccd;
height:90px;
}
dl.fullpage dt {
width:270px;
font-size:120%;
text-align:center;
}
dl.fullpage dd {
padding-top:1ex;
font-size:125%;
}
a {
color:#000000;
}
a:hover {
color:#FF0000;
text-decoration:none;
}
a img {
border:medium none;
}
#wrapper {
border:10px solid #FFFFFF;
margin:0 auto;
width:900px;
}
#header {
height:100px;
margin:0 auto;
width:900px;
}
#header a {
color:#FFFFFF;
text-decoration:none;
}
#logo {
float:left;
padding-left:20px;
}
#logo h1, #logo p {
color:#FFFFFF;
font-weight:normal;
line-height:normal;
margin:0;
}
#logo h1 {
padding:40px 0 0;
}
#logo p {
text-indent:-99999px;
}
#menu {
float:right;
}
#menu ul {
line-height:normal;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:49px 0 0;
}
#menu li {
float:left;
margin:0;
}
#menu a {
background:transparent url(/Content/images/img10.gif) no-repeat scroll left 50%;
display:block;
padding:6px 20px 6px 10px;
width:auto;
}
#menu a:hover {
text-decoration:underline;
}
#menu .active {
}
#menu .active a {
}
#page {
background:#FFFFFF none repeat scroll 0 0;
margin:0 auto;
padding:10px 0 0;
width:900px;
}
#header-pic {
background:transparent url(/Content/images/img05.jpg) no-repeat scroll left top;
height:210px;
width:900px;
}
#content {
float:left;
width:570px;
}
.post {
background:#FFFFFF none repeat scroll 0 0;
margin:0 0 30px;
}
.post .title {
background:#444444 url(/Content/images/img07.jpg) no-repeat scroll left top;
font-size:1.4em;
margin:0;
padding:7px 25px;
}
.post .title h1 {
}
.post .entry {
padding:0 20px;
}
.post .meta {
font-weight:bold;
padding-left:20px;
}
.post .byline {
margin:0;
padding-left:20px;
}
#sidebar {
float:right;
width:300px;
}
#sidebar-bgtop {
}
#sidebar-bgbtm {
}
#sidebar-content {
}
#sidebar ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0 0 5px;
}
#sidebar ul li p {
padding:0 15px;
}
#sidebar li li {
border-bottom:1px dashed #BDBDBD;
line-height:30px;
margin-right:10px;
padding-left:15px;
}
#sidebar li ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-bottom:1.8em;
}
#sidebar h2 {
background:transparent url(/Content/images/img09.jpg) no-repeat scroll left top;
font-size:1.4em;
padding:7px 25px;
}
#sidebar a {
text-decoration:none;
}
#sidebar a:hover {
text-decoration:underline;
}
#sidebar p a {
color:#ee9000;
background-color:inherit;
font-weight:bold;
}
#signin form {
padding:0;
margin-bottom:1em;
}
#signin fieldset {
border:medium none;
margin-left:20px;
padding:0;
}
#signin fieldset p {
margin:0;
padding:3px !important;
}
#signin fieldset p input.field {
width:100px;
}
label {
display:block;
float:left;
width:80px;
}
#signin #s {
width:160px;
}
#footer {
background:transparent url(/Content/images/img08.jpg) no-repeat scroll left top;
clear:both;
color:#858585;
height:40px;
margin:0 auto 30px;
width:920px;
}
#footer p {
font-size:smaller;
line-height:normal;
margin:0;
padding:13px 0 0;
text-align:center;
}
#footer a {
color:#FFFFFF;
}