<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic"
             allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="GroopConnection"
         connectionString="Data Source=localhost;Initial Catalog=Groop;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="Groop.DataAccess">
    <providers>
      <add name="Groop.DataAccess" type="SubSonic.SqlDataProvider, SubSonic"
           connectionStringName="GroopConnection"/>
    </providers>
  </SubSonicService>
</configuration>